body {
  border: 10px solid black;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  height: 350px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 12px;
}


